section#info

  h1= title

  article
    h3 What it is.
    p
      | Over the summer, ten digital signs were installed across all three campuses to promote upcoming events/programs specific to the undergraduate, graduate and law school communities. The funding for the system was provided by the President\u2019s Strategic Initiative.
      a(href='http://blogs.lclark.edu/weblab/2011/07/22/wall-mounts/') Read more about the history.

  article
    h3 How it works.
    p
      | The digital screens display #{buffer_size} current events in a sequential rotation. Each event has pertinent event information such as the title, location and summary as well as optional items like a photo. All events have a short link for more information and QR Code for smart phones. The links take you to the event in the originating group\u2019s website.

  article
    h3 How do I get my events on the screens?
    p
      | All of the events originate from our web content management system LiveWhale and can be entered by anyone with access to their Lewis & Clark website. The events are like any other event in LiveWhale except that they must be geo-tagged (Place this on a Map) to a destination within Portland. The system updates seamlessly and in real-time to the displays.
      a(href='http://blogs.lclark.edu/weblab/2011/08/01/using-the-campus-digital-displays/') Learn more about getting your events displayed.

  article
    h3 Give us your feedback.
    p This is the beta version of this system, so look for future updates. !{'<a href="https://www.lclark.edu/new_media/contact/">We\u2019d love to hear your feedback and ideas!</a>'}
  
  article
    h3 Built by New Media.
    p The code for the system was written by David W. McKelvey using cutting-edge technologies. If you\u2019re technically inclined, !{'<a href="http://blogs.lclark.edu/weblab/2011/08/01/digital-displays-function/">you might read about how they work</a>'}.
    